:root{
    --main-color:#2196F3;
    --popular-color:#FFFFFF;
    --rare-color:#757575;
    --background-color: #F5F4FA;
    --typical-lh: 1.19;
    --def-letter-spacing: 0.03em;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img{ 
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#757575;
    letter-spacing: 0.06em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

ul{
    list-style-type:none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ------------- Header --------------- */

.header .container{
    display: flex;
    align-items: center;
}
.header{
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-logo{
        margin-right: 93px; 

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: var(--typical-lh);
        letter-spacing: var(--def-letter-spacing);
        text-decoration: none;

        color: var(--main-color);
}
.header-logotype{
    color: #000000;
}
.header-list{
    display: flex;
    column-gap: 50px;

    list-style: none;
}
.header-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        
        color: #212121;
}

.header-link:hover,
.header-link:focus{
    color: var(--main-color);
}

.header-contacts{
    display: flex;
    column-gap: 50px;
    margin-left: auto;

    list-style: none;
}
.header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--rare-color);
}
.header-contact:hover,
.header-contact:focus{
    color: var(--main-color);
}
/* ------------- Hero --------------- */

.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/Img\ \(17\).jpg);
    max-width: 1600px;
    margin:auto;
}
.hero .container{
    padding-right: 252px;
    padding-left: 252px; 
}


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    color: var(--popular-color);
}

.hero-btn{
    display: inline-block;
    margin-top: 30px;

    min-width: 216px;
    height: 50px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;

    color: var(--popular-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--main-color);
    cursor:pointer;
    }


/* --------------- Список переваг ------------------ */

.preferences{
    display: flex;
    margin-right: -30px;

    list-style: none;
}

.preferences > .preferences-item{
    margin-right: 30px;
}

.preferences-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--def-letter-spacing);
    text-transform: uppercase;

    color: #212121;
}

.preferences-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--def-letter-spacing);
}

/*--------------- Чим ми займаємося  --------------  */

.what-we-do-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: var(--def-letter-spacing);
    
    color: #212121;
}
.what-we-do-img{
    display: flex;
    list-style: none;
}

.what-we-do-img-item{
    margin-right: 30px;
}

.what-we-do-img-item:nth-child(3){
    margin-right: 0;
}

.what-we-do{
    padding-top: 0;
}


/* ----------------- Список команди ------------------ */

.title{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: var(--def-letter-spacing);
    
    color: #212121;
}
.team-list{
    display: flex;
    list-style: none;
}
.team{
    background-color: var(--background-color);
}
.team-item{
    flex-basis: calc(100% / 4 );
        margin-right: 30px;
    
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .team-item:last-child{
        margin-right: 0;
    }

.card{
    padding-bottom: 30px;
}
.card-text{
    padding-top:30px;
    padding-bottom: 16px;
}

.team-member{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    text-align: center;
    letter-spacing: var(--def-letter-spacing);
    
    color: #212121;
}

.team-member-prof{
    margin-top: 10px; 

    font-size: 16px;
    line-height: var(--typical-lh);
    text-align: center;
    letter-spacing: var(--def-letter-spacing);
    
    color: var(--rare-color);
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:#AFB1B8;
}

.social-icon{
    fill: currentColor;
}

.social-link:hover,
.social-link:focus{
    background-color: var(--main-color);
    color: var(--popular-color);
}

/*------------------ Footer ------------------- */

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: var(--typical-lh);
    letter-spacing: var(--def-letter-spacing);
    text-decoration: none;
    
    color: var(--main-color);
}
.footer-logotype{
    color:var(--popular-color);
}
.footer-items{
    margin-top: 9px;
    list-style: none;
}
.footer-item{
    margin-bottom: 9px;
}

.footer-item:last-child{
    margin-bottom: 0;
}

.footer-address-place{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--def-letter-spacing);
    text-decoration: none;
    font-style: normal;

    color: var(--popular-color);
}
.footer-address-place:hover,
.footer-address-place:focus{
    color:var(--main-color);
}
.footer-contact{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--def-letter-spacing);
    text-decoration: none;
    font-style: normal;
        
    color: rgba(255, 255, 255, 0.6);
}
/* ----------------- Сторінка портфоліо ------------------- */

.header-nav-list{
    list-style: none;
}
.portfolio-buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    list-style: none;
}
.portfolio-button{
    padding: 6px 22px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: var(--def-letter-spacing);
    cursor: pointer;
    border-radius: 4px;
    border: transparent;

    color: #212121;
    background-color: var(--background-color);
}

.portfolio-button:hover,
.portfolio-button:focus{
    color: var(--popular-color);
    background-color:var(--main-color);
}


.offers-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;

    list-style: none;
}

.card-portfolio{
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE
}
.card-portfolio:nth-child(3n){
    margin-right: -30px;
} 

.card-portfolio-text{
    padding: 20px 24px;
}

.offer-name{
    white-space: nowrap;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
    
    color: #212121;
}

.offer-description{
    margin-top: 4px;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: var(--def-letter-spacing);
    
        color: var(--rare-color);
}